
.info {
    position: relative;
    padding-bottom: $spaceS;

    header {
        padding: 2*$spaceS;
    }

    h1 {
        font-size: $baseFontSize*2.5;
        padding: $spaceS;
    }

    .xtext {
        font-family: NotoSansRunicGothic;
    }

    .sup-menu, ul.menu, .menu li, .menu h4 {
        width: $tileSize;
        padding: 0;
        margin: 0;
    }

    table {
        border-width: 2px;
        border-style: solid;
        border-radius: $spaceS;
    }

    tr {
        display: block;
        float: left;
        &:not(:last-child) {
            border-right-width: 2px;
            border-right-style: solid;
        }
    }

    td {
        display: block;
        width: $tileSize;
        height: $tileSize/2;
        line-height: $tileSize/2;
        text-align: center;

        &:first-child {
            height: $tileSize;
            line-height: $tileSize;
            font-size: $baseFontSize + 4px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }

    }

}

.info-content {
    padding: $spaceS 0;

    & > section, & > aside {
        max-width: $defaultColumnW;
        margin-left: auto;
        margin-right: auto;
    }

    p, ul, ol, h3, h4, h5, h6, table {
        margin-left: $tileSize;
        margin-right: $tileSize;
        text-align: justify;
        line-height: 150%;
    }

    p, ul, ol, table {
        margin-top: $baseFontSize;
        margin-bottom: $baseFontSize;
        ul, ol {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .super-p {
        & > * {
            &:not(:first-child) {
                margin-top: 0;
            }
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    .entities li:not(:last-child) {
        margin-bottom: $baseFontSize;
    }

    section section:first-of-type h5:first-child {
        margin-top: $baseFontSize;
    }

    ul, ol {
        text-align: left;
        padding: 0 $tileSize;
        ul, ol {
            padding-left: 0;
        }
    }

    h3 {
        font-size: $baseFontSize + 4px;
        padding: 2*$spaceS 0;
        margin-top: $spaceS;
    }

    h4 {
        font-size: $baseFontSize + 2px;
    }
}

#outline {
    padding: ($tileSize/2 - $spaceS) 0 $tileSize/2 0;
}

#info-closing {
    position: fixed;
    top: $spaceS;
    right: $spaceS;
}

#go-top {
    position: fixed;
    bottom: $spaceS;
    right: $spaceS;
    &:not(.active) {
        display: none;
        opacity: 0;
    }
}

dl {
    position: relative;
    width: 100%;
    line-height: 150%;
}

dt, dd {
    display: inline-block;
    margin: 0;
}

dt {
    width: calc(50% - #{$tileSize*2.5});
    padding-right: 2*$spaceS;
    text-align: right;
    font-style: italic;
    &:after {
        display: inline;
        content: ":";
    }
}

dd {
    width: calc(50% - #{2*$spaceS});
    text-align: left;
}

.hint {
    white-space: nowrap;

    .op {
        display: inline-block;
        margin: 0 1px;
    }
}

.itext[data-captions|=keys] {
    font-size: $baseFontSize - 2px;
    letter-spacing: -2px;
    margin-right: 2px;
}

a[target] {
    white-space: nowrap;
}

.info header em {
    text-decoration: underline;
}

.info-content.sup-std .info-touch, .info-content.sup-touch .info-std {
    display: none;
}

.info-content.sup-compact .info-compact-disabled, .info-content.sup-touch .info-touch-disabled {
    color: mix($disabledColor, gray);
}
