
$logoInitialRatio: 1.15;

.logo {
    white-space: nowrap;
    font-weight: 400;

    span {
        letter-spacing: 0.13em;
        font-size: 100% * $logoInitialRatio;
    }
}

.logo {
    text-shadow: 1px 1px 2px black;
}

footer .logo {
    text-shadow: none;
}
