
$tileSize: 42px;
$spaceS: 4px;

$baseFontSize: 16px;
$editorBaseFontSize: 18px;
$iconBaseFontSize: 18px;

$phiWidePart: 0.618;
$phiNarrowPart: 1 - $phiWidePart;

$defaultColumnW: 920px;

@import 'general';
@import 'fontfamilies';
@import 'logo';
@import 'loader';
@import 'layout';
@import 'themes';
@import 'menus';
@import 'output';
@import 'kboard';
@import 'info';
@import 'port/narrow_layout_kboard';
@import 'port/narrow_menus';
@import 'port/narrow_info';
@import 'port/small_menus';
@import 'messages';
@import 'effects';
