
/**
 * The width is too low to keep enough space between the text
 * and the buttons (close, top) in the information view.
 */
$WBreakpoint0: $defaultColumnW + 2 * 5 * $spaceS;

@media only screen and (max-width: $WBreakpoint0) {
    dt, dd {
        display: inline;
        width: auto;
        margin: 0;
        padding: 0;
    }
    dd:after, figure dd:before {
        display: inline;
        white-space: pre;
        content: "\a";
    }
    address dt:not(:first-child) {
        display: none;
    }

    a .urlprefix {
        display: none;
    }

    .info-content {
        margin-left: 0;
        margin-right: 0;
        padding-left: 2*$spaceS;
        padding-right: 2*$spaceS;

        #outline, section, p, h1, h2, h3, h4, h5, h6 {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }

        ul, ol {
            margin-left: 4*$spaceS;
            margin-right: 0;
            padding-left: $spaceS;
            padding-right: 0;
            ul, ol {
                padding-left: 0;
            }
        }

        p {
            text-align: left;
        }
    }

    #info-closing, #go-top {
        &, ul, li, h4, a, button {
            width: $midButtonSize;
            height: $midButtonSize;
            min-width: $midButtonSize;
            min-height: $midButtonSize;
            line-height: $midButtonSize;
        }
    }

}
